[report]
omit =
    cheat_ext/tests/*
    cheat_ext/main.py
    cheat_ext/version.py
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
